<!--include header-->
<%-include('include/_header')%>
<!--/include header-->
 <!--Main site-->
 <main id="site-main">
    <div class="container"> 
        <div class="box-nav d-flex justify-between">
            <div class="filter">
            <a href="/"><i class="fas fa-angle-double-left"></i>All Users</a>
        </div>
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark">Update User</h2>
            <span class="text-light">Use the below form to Update an  account.</span>
        </div>
        <!--add user form-->
       
        <form action="/api/users/<%=users.id %>" method="PUT" id="update_user">
            <div class="new_user">
                <div class="form_group">
                    <label for="c_name" class="text-light">c_name</label>
                    <input type="hidden" name="id" value="<%=users.id %>">
                    <input type="text" name="c_name" value="<%=users.c_name %>" placeholder="ur name">
                </div>
                <div class="form_group">
                    <label for="c_duretion" class="text-light">c_duration</label>
                    <input type="text" name="c_duration" value="<%=users.c_duration %>" placeholder="duration">
                </div>
                <div class="form_group">
                    <label for="c_fees" class="text-light">c_fees</label>
                    <input type="text" name="c_fees" value="<%=users.c_fees %>" placeholder="Course_fees">
                </div>
                <div class="form-group">
                    <label for="status" class="text-light">Status</label>
                    <div class="rideo inline">
                        <input type="radio" id="radio-2" name="status" value="Active"<%=users.status=='Active'?'checked':'' %>>
                        <label for="radio-2" class="text-light">Active</label>
                    </div>
                    <div class="radio inline">
                        <input type="radio" id="radio-3" name="status" value="Inactive" <%=users.status=='Inactive'?'checked':'' %>>
                        <label for="radio-3" class="text-light">Inactive</label>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn text-dark update">Save</button>
                    </div>
                </div>
            </div>
        </form>

    </div>
</main>
<!--Main site-->

<!--include footer-->
<%-include('include/_footer')%>
<!--/include footer-->